.login_button{
	text-shadow: 5px 5px 10px;
}

.col-sm-4{
	border: 10px solid white;
	background-color: DodgerBlue;
	border-radius: 21px;
	text-align: center;
	display: flex;
	justify-content: center;
  	align-items: center;
	font-size: 70px;
	padding:20px;
	min-height: 
}

.row{
	height: 50%;
}