<html>
<head>
	<title>Nasza piekna organizacja</title>
	{% include "../bootstrap/bootstrap_template.html" %}
	{% load staticfiles %}
	<link rel='stylesheet' href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/fontello.css' %}" type="text/css" />
</head>


<body>
	{% if request.user.is_authenticated %} 
	<nav class="navbar fixed-top navbar-expand-lg navbar-light">
	  <a class="navbar-brand" href="#" style = "margin-left: 5% ; margin-right: 5%;">
		<img src="{% static 'logoxDalfa.png' %}" height="60" alt="">
		  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarText" style = "margin-right: 5%">
	    <span class="navbar-text mr-auto text-info" style = "font-size:18px;">
	       Hello {{ request.user.get_full_name }}
	    </span>
	    <ul class="navbar-nav">
	    <li class="nav-item active">
	        <a class="nav-link" href="/"><span class="navbar-text mr-auto">
	     	<button class="btn btn-info" type="button" style="font-size: 20px"><i class="icon-home"></i>Home</button>
	    </span> </a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/logout/"><span class="navbar-text mr-auto">
	     	<button class="btn btn-info" type="button" style="font-size: 20px"><i class="icon-logout"></i>Logout</button>
	    </span> </a>
	      </li>
	    </ul>
	 </div>
	</nav>
	{% endif %}
	<div style="width:100%; height:40px"></div>
	<div class="container">
		<div class="d-flex align-items-center justify-content-center" style="height: 100%">
			{% if not request.user.is_authenticated %} 
				<div class="d-flex align-items-center justify-content-center" style = "height: 100%">
					<a href='/login/'>
						<button type="button" class="btn btn-info effects">
							<i class="icon-logout"></i><span>Login</span>
						</button>
					</a>
					<a href='/admin/'>
						<button type="button" class="btn btn-info effects">
							<i class="icon-logout"></i><span>Admin</span>
						</button>
					</a>
				</div>
			{% elif request.user.position %}
			<div class="d-flex align-items-center justify-content-center flex-wrap">
				{% if request.user.position == 'BOS' or request.user.position == 'MAN' %}
					<a href='/recruit/'>
						<button type="button" class="btn btn-info effects">
							<i class="icon-user-plus"></i><span>Recruit</span>
						</button>
					</a>
					<a href= '/tasks/add/'>
						<button type="button" class="btn btn-info effects">
							<i class="icon-doc"></i><span>Assign Task</span>
						</button>
					</a>
					<a href='/edit/'>
						<button type="button" class="btn btn-info effects">
							<i class="icon-edit"></i><span>Edit Subordinate</span>
						</button>
					</a>
				{% elif request.user.position == 'SUP' %}
					<a href= '/tasks/add/'>
						<button type="button" class="btn btn-info effects">
							<i class="icon-doc"></i><span>Assign Task</span>
						</button>
					</a>
				{% endif %}
					<a href="/tasks/user_tasks/">
						<button type="button" class="btn btn-info effects">
							<i class="icon-tags"></i><span>Check tasks</span>
						</button>
					</a>
					<a href="/chat/" target="_blank">
						<button type="button" class="btn btn-info effects">
							<i class="icon-mail-alt"></i><span>Chat</span>
						</button>
					</a>
					<a href="/logout/">
						<button type="button" class="btn btn-info effects">
							<i class="icon-logout"></i><span>Logout</span>
						</button>
					</a>
			</div>
			{% endif %}
		</div>
	</div>
</body>