<html>
    <head>
        <title>Nasza piekna organizacja</title>
        {% include "../bootstrap/bootstrap_template.html" %}
        {% load staticfiles %}
        <link rel='stylesheet' href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/fontello.css' %}" type="text/css" />
    </head>
    <body>
            <ul class="chat_rooms">
                {% for room in chat_rooms %}
                    <li class="room-link" data-room-id="{{ room.id }}">{{ room }}</li>
                {% empty %}
                    <p class="empty">No chat rooms defined. Maybe make some in the <a href="{% url 'admin:index' %}">admin</a>?</p>
                {% endfor %}
        	</ul>

        	{% load staticfiles %}
            {% block extra_body %}
                <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                <script src="//cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
                <script src="{% static "chat.js" %}"></script>
        {% endblock %}
        <div id="chats">
                <!-- there will be desplayed chats after joining room -->
        </div>
    </body>
</html>