<head>
	<title>Tasks list</title>
	{% include "../bootstrap/bootstrap_template.html" %}
	{% load staticfiles %}
	<link rel='stylesheet' href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/fontello.css' %}" type="text/css" />
</head>


{% load render_table from django_tables2 %}
<html>
    <head>
        <title>Tasks list</title>
    </head>
    <body>
        <h1>Current tasks in the system</h1>
        <div id="task list">
            {% render_table tasks_table %}
        </div>
    </body>
</html>