<head>
  <title>Task search</title>
  {% include "../bootstrap/bootstrap_template.html" %}
  {% load staticfiles %}
  <link rel='stylesheet' href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/fontello.css' %}" type="text/css" />
</head>


{% load render_table from django_tables2 %}
<html>
    <head>
        <title>Tasks search</title>
    </head>
    <body>
        <div id="searched tasks">
              <form method="get">
                {{ filter.form.as_p }}
                <button type="submit">Search</button>
              </form>
          </div>
    </body>
</html>