<head>
    <title>User tasks</title>
    {% include "../bootstrap/bootstrap_template.html" %}
    {% load staticfiles %}
    <link rel='stylesheet' href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontello.css' %}" type="text/css" />
</head>


{% load render_table from django_tables2 %}
<html>
    <head>
        <title>Tasks list</title>
    </head>
    <body>
        <h1>Whatever</h1>
        <div id="task list">
            {% render_table tasks_table %}
        </div>
        <h1>Subordinates</h1>
        <div id="task list">
            {% render_table tasks_table_subordinates %}
        </div>
        <div>
        	<a href = '/'>Get back</a>
        </div>
    </body>
</html>